.home{
    margin-top: 4rem;
}

.home_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.home_maintitle{
    font-size: 8rem;
    font-weight: 900;
    text-align: center;
    z-index: 2;
    margin: auto;
    /* mix-blend-mode: difference; */
    color: black;
    padding-top: 10%;
    padding-left: 20%;

    /* background-color: #a68753; */
}

.home_image{
    width: 48vw;
    min-width: 30rem;
    max-width: 45rem;
    height: auto;
    overflow: hidden;
    margin-right: 5vw;
    padding-left: 2vw;
    position: relative;
}


.home_image_description{
    position: absolute;
    transform: translate(-130px, 130px) rotate(-90deg);
    text-transform: uppercase;
    font-style: italic;
    font-size: 10px;
    font-weight: 600;
}

.home_image_description::before{
    content:'';
    width: 75px;
    height: 2px;
    display: block;
    background-color: black;
}


.home_image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Home Products */
.home_products_container{
    max-width: 80rem;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 8rem;
}

.home_more_icon{
    font-size: 1rem;
    text-align: right;
    font-weight: 600;
    margin-right: 4rem;
    cursor: pointer;
}


.home_products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: center;
    grid-gap:5px;
    overflow: hidden;
}

.home_product{
    margin: auto;
    position: relative;
    margin-top: 2rem;
    cursor: pointer;
}

.home_product_image{
    width: 330px;
    height: 325px;
    overflow: hidden;
    position: relative;
}

.home_product_image img{
    width: 100%;
    height: 100%;
}

.home_product_image_tool{
    position: absolute;
    width: 330px;
    /* width: 100%;
    height: 330px; */
    top: 0;
    left: 0;
}

.home_product_name{
    font-size: 1.3rem;
    font-weight: 800;
    margin-left: 1rem;
}

.home_product_price{
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    margin-right: 1rem;
}

.home_product_soldout{
    position: absolute;
    top: -25px;
    right:-65px;
    display: block;
}

.home_product_soldout img{
    width: 75%;
}

.home_product:hover .home_product_soldout img{
    animation: soldout_img 7s linear infinite;
}

.home_product_soldout .emoji{
    font-size: 1.4rem;
    transform: translate(28px, -53px);
}

/* Home Posts */
.home_posts_tape{
    max-width: 100%;
    height: 4.6rem;
    border-top: 2px solid #5e5e5e;
    border-bottom: 2px solid #5e5e5e;
    overflow: hidden;
    font-size: 2.7rem;
    font-weight: 800;
    font-style: italic;
    background-color: #edd177;
}

.home_posts_tape_top_phrase{
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: top_tape 15s linear infinite;
}

.home_posts_tape_bottom_phrase{
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: top_tape 15s linear infinite;
    animation-direction: reverse;
}

.home_posts_tape_phrase p{
    display: inline-block;
}

.home_posts_tape_container{
    margin-bottom: 10rem;
}

.home_posts_tape_container:hover .home_posts_tape_top_phrase{
    /* -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused; */
    animation: top_tape 70s linear infinite;

}

.home_posts_tape_container:hover .home_posts_tape_bottom_phrase{
    animation: top_tape 70s linear infinite;
    animation-direction: reverse;

}

@keyframes top_tape {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-30%, 0, 0);
    }
  }

.home_posts_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #bdded4;
}

.home_posts_description{
    width: 35%;
    font-size: 3.5rem;
    font-weight: 800;
    text-align: right;
    text-transform: uppercase;
    margin: 1rem;
    color: white;
    -webkit-text-stroke: 2px  black;
    transform: translateY(150px);
}

.home_posts_description_more_button{
    font-size: 19px;
    color: black;
    -webkit-text-stroke:0px;
    cursor: pointer;
}

.home_posts_description_more_button::after{
    content: '';
    background-color: black;
    width: 0vw;
    height: 2px;
    display: block;
    transition: all 0.3s ease-in-out;
}

.home_posts_description_more_button:hover::after{
    width: 34vw;
}



.home_posts{
    width: 65%;
    overflow: scroll;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    scroll-behavior: smooth;
    background-color: #d1debd;
}



.home_post{
    width: 20rem;
    height: 26rem;
    border: 1px solid #ededed;
    border-radius: 20px;
    box-shadow: 5px 5px #ededed;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
}

.home_postcard_image{
    width: 18rem;
    height: 17rem;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.home_cardbody_image img{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}

.home_postcard_title{
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    text-overflow: ellipsis;
}

.home_postcard_user{
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
}

.home_postcard_user_image{
    width: 17px;
    height: 17px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 5px;
}

.home_postcard_user_image img{
    width: 100%;
    object-fit: cover;
}

@media (max-width:1227px) {
    
    .home_main{
        justify-content: flex-end;        
    }
    .home_maintitle{
        position: absolute;
        top: 20vw;
        left: 9vw;
        padding-top: 0;
        padding-left: 0;
    }

    .home_image{
        position: relative;
    }
    
}

@media (max-width:1105px) {

    .home_image_description{
        display: none;
    }

}
@media (max-width:900px) {

    .home_maintitle{
        top: 11rem;
        -webkit-text-stroke: 1px white;

    }
}

@media (max-width:550px) {
    .home_image{
        width: 100%;
        margin: 1rem;
    }

}

@keyframes soldout_img{
    100%{
        transform: rotate(-360deg);
    }
}