.user_card{
    border: 1px solid #ebebeb;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.user_card img{
    width: 25px;
    height: 25px;
    margin-right: 4px;
}